@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600,700&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;    
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    height: 100vh;
    width: 100vw;
    
}

.container{
    height: inherit;
    background:radial-gradient(circle at 50%, hsl(214, 47%, 23%) , hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    padding-top: 65px;
}


header{
    max-width: 700px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 5px;
    padding: 0 25px 0 30px;
}

header > .choice{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    line-height:0.8 
}

.score-container{
    width: 150px;
    text-align: center;
    color: hsl(229, 64%, 46%);
    letter-spacing: 1.2px;
    font-weight: 100;
    background-color: white;
    padding: 20px 0;
    border-radius: 5px;
    
}


.score{
    font-size: 45px;
    font-weight: bold;
    color: hsl(229, 25%, 31%);
}

.button-container{

    max-width: 490px;
    display: grid;
    margin: 0 auto;
    background-image: url("images/bg-triangle.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    grid-template-areas: "paper sciccors"
                        "rock rock";
    margin-top: 65px;

    
}

.button-container > div , .result-container > div .result-btn{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px -10px 3px -3px rgb(0,0,0,0.4);
    justify-self: center;
    transform: scale(0.85);
}

button{
    border: none;
}

button:not(.rules):not(.playBtn){
    height: 152px;
    width: 152px;
    border-radius: 50%;
    outline: none;
    border: none;
    box-shadow: inset 0px 10px 3px -3px rgb(0,0,0,0.4);
    cursor: pointer;
}

.button-paper{
    background: linear-gradient(to bottom,hsl(230, 89%, 62%) , hsl(230, 89%, 65%));
    grid-area: paper;
}

.button-scissors{
    background: linear-gradient(to bottom ,hsl(39, 89%, 49%) , hsl(40, 84%, 53%));
    grid-area: sciccors;
}

.button-rock{
    background: linear-gradient(to bottom,hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
    grid-area: rock;
}



footer{
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: right;
    margin-top: 30px;
    padding-right: 35px;
    
}

footer > button.rules{
    letter-spacing: 2px;
    width: 140px;
    height: 40px;
    text-align: center;
    border: 2px solid hsl(217, 16%, 45%);
    background: transparent;
    color: white;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.result-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 75px;
    animation: moveFinal 0.7s linear forwards;
}

.result-container .result-btn{
    margin-top: 30px;
}

.result-container > div .winner{
    box-shadow: inset 0px -10px 3px -3px rgb(0,0,0,0.4),
                0px 0px 3px 20px rgba(99, 99, 99, 0.1),
                0px 0px 5px 50px rgba(99, 99, 99, 0.1),
                0px 0px 3px 80px rgba(99, 99, 99, 0.1);
}

.left{
    animation: moveLeft 0.7s linear;
}

.right{
    animation: moveRight 0.7s linear;
}

.pick-heading{
    margin-bottom: 65px;
    font-size: 18px;
}

.winning-message{
    font-size: 42px;
    margin-bottom: 22px;
}

.playBtn{
    width: 200px;
    height: 48px;
    border-radius: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    color:  hsl(214, 47%, 23%);
    outline: none;
    cursor: pointer;
}


@keyframes moveLeft{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translateX(-45%);
    }
}


@keyframes moveRight{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translateX(45%);
    }
}


@keyframes moveFinal{
    100%{
        justify-content: space-between;
    }
}

img{
    pointer-events: none;
}

.hide{
    display: none;
}

.result-container button{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .container{
        padding:30px 0px 0px 0px;

    }
    header{
        max-width: 600px;
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        border: 2px solid hsl(217, 16%, 45%);
        border-radius: 5px;
        padding: 0 25px 0 30px;
    }

    .button-container{
        margin-top: 30px;
        max-width: 600px;
        grid-template-areas: "paper sciccors"
                            "rock rock";
}

    .button-container > div{
    transform: scale(0.8);
    }

    .button-paper{
    grid-area: paper;
    }

    .button-scissors{
    grid-area: sciccors;
    }

    .button-rock{
    grid-area: rock;
    }

    
    .result-container .result-btn{
        transform: scale(0.6);
        grid-area: result-btn;
    }

    .result-container{
        display: grid;
        max-width: 600px;
        margin: 0 auto;
        margin-top: 30px;
        grid-template-areas: 
                            "user  computer"
                            "result result";
    }

    .left , .right{
        display: grid;
        grid-template-areas: 
                            "result-btn"
                            "heading";
    }

    .left{
        grid-area: user;
        animation: moveLeft 0.4s linear;
        
    }

    .right{
        grid-area: computer;
        animation: moveRight 0.4s linear;
        
    }

    .pick-heading{
        grid-area: heading;
        margin-bottom: 40px;
    }

    .result{
        grid-area: result;
        
    }

    footer{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    @keyframes moveLeft{
        0%{
            transform: translate(0);
        }
        100%{
            transform: translateX(-20%);
        }
    }
    
    
    @keyframes moveRight{
        0%{
            transform: translate(0);
        }
        100%{
            transform: translateX(20%);
        }
    }
}

@media screen and (max-width: 400px){
    .button-container{
        max-width: 400px;
        display: grid;
        justify-content: center;
        margin: 0 auto;
        background-image: url("images/bg-triangle.svg"); 
        background-repeat: no-repeat;
        background-position: center;
        grid-template-areas: "paper sciccors"
                            "rock rock";
    }

    .button-container > div{
        transform: scale(0.6);
    }

    .button-paper{
        grid-area: paper;
    }
    
    .button-scissors{
        grid-area: sciccors;
    }
    
    .button-rock{
        grid-area: rock;
    }
    
    
}